<!-- Content Header -->
<section class="content-header">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="m-0"><%= @note.title %></h1>
      </div>
    </div>
  </div>
</section>

<!-- Content -->
<section class="content">
  <div class="container">
    <div class="row">
      <!-- User -->
      <div class="col-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h5 class="m-0 float-left"><%= t 'attributes.note.text' %></h5>
            <% unless current_user.user? %>
              <div class="float-right"><%= @note.user.name %></div>
            <% end %>
          </div>
          <div class="card-body">
            <dl class="dl-horizontal">
            <dd><%= @note.text %></dd>
          </div>
        </div>
      </div>
    </div>

    <!-- Actions -->
    <div class="action">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= link_to t('actions.back'), notes_path, class: 'btn btn-secondary float-left' %>
          <div class="float-right">
            <%= link_to t('actions.edit'), edit_note_path(@note), class: 'btn btn-default' if can?(:update, @note) %>
            <%= link_to t('actions.delete'), note_path(@note), method: :delete, data: { confirm: t('actions.confirm_destroy') }, class: 'btn btn-danger' if can?(:destroy, @note) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
