<div class="row">
  <div class="col-4 offset-4 mt-5">
    <div class="card card-widget widget-user">
      <div class="widget-user-header bg-info">
        <h2 class="widget-user-username"><%= t 'home.welcome' %></h2>
        <h2 class="widget-user-username"><%= t 'home.title' %></h2>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header"><%= @notes_count %></h5>
              <span class="description-text"><%= t('models.note.other').upcase %></span>
            </div>
          </div>
          
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header"></h5>
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header"><%= @users_count %></h5>
              <span class="description-text"><%= t('models.user.other').upcase %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
